<html lang="en">
    <center>
    <body>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
        <div class="delete content">
            <br>
            <br>
            <br>
            <br>
            <br>
            <form action="/home/<%= locals.theId %>?_method=DELETE" method="POST">
                <label>Are you sure you want to delete this Person?</br>
                    <input type="text" id="<%= theId %>" name="person" value="<%= FirstName %>" style="width:50%;" readonly>
                </label>
                <button>DELETE</button>
            </form>
        </div>
    </body>
</center>
</html>